.Layout {
  background-color: #2b3947;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.Layout-item {
  color: #fff;
  font-family: HelveticaNeue, Roboto, Helvetica, sans-serif;
  flex-direction: row;
  // max-width: 50%;
  text-align: center;

  h1 {
    cursor: default;
    font-size: 4.0em;
    margin-bottom: 0;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
    user-select: none;
  }
}
