@import '../../shared-styles/bookit';

.infoPanel {
  flex: 0 0 325px;
  background: $blackish;
  display: flex;
  flex-direction: column;
  padding: 70px 30px 30px 20px;
}

.invite, .close {
  position: absolute;
  left: 353px;
  top: 30px;
  color: $blackish;
  height: 42px;
  width: 44px;
  font-size: 48px;
  font-weight: 100;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.close:before, .invite:before {
  content: '+';
}

.invite {
  background-color: $veryyellow;
}

.close {
  background-color: $slategrey;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}


