@import '../../shared-styles/bookit';

.infoPanel {
  flex: 0 0 325px;
  background: $blackish;
  display: flex;
  flex-direction: column;
  padding: 70px 30px 30px 20px;
  position: relative;
}

.invite, .close {
  position: absolute;
  z-index: 1000;
  left: 353px;
  top: 30px;
  color: $blackish;
  height: 42px;
  width: 44px;
  font-size: 48px;
  font-weight: 100;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  -ms-transition: background-color 0.75s, -ms-transform 0.75s;
  -webkit-transition: background-color 0.75s, -webkit-transform 0.75s;
  transition: background-color 0.75s, transform 0.75s;
}

.close:before, .invite:before {
  content: '+';
}

.invite {
  background-color: $veryyellow;
}

.close {
  background-color: $slategrey;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
