@import '../../../shared-styles/bookit';

.timelabels {
  height: $agenda-row-height;
  margin-bottom: 5px;
  width: $agenda-room-total-width;
  position: relative;
}

.timelabel {
  background-color: $darkblue;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  line-height: $agenda-row-height;
  padding-left: 2px;
  width: 78px;
  height: $agenda-row-height;
  margin-right: 2px;

  &:last-child {
    margin-right: 0;
  }
}
