@import '../../../shared-styles/variables';

.timelineTimeblocks {
  height: 30px;
  width: 1966px;
}

.timeline {
  display: inline-block;
  float: left;
  // width: 500px;
  height: 30px;
  background-color: $darkblue;
  position: relative;
}
