.timeline {
  width: 500px;
  height: 30px;
  background:
    repeating-linear-gradient(
      to right,
      #141516,
      #141516 97px,
      #2b3947 97px,
      #2b3947 100px
    );
  position: relative;
}
