@import '../../../shared-styles/bookit';

.room {
  background-color: $darkblue;
  height: $agenda-row-height;
  margin-bottom: 50px;
  position: relative;
}

.roomName {
  background-color: $darkblue;
  color: white;
  display: block;
  font-weight: 300;
  font-size: $base-font-size;
  font-style: normal;
  height: $agenda-row-height;
  line-height: $agenda-row-height;
  margin-bottom: 50px;
  position: relative;
  user-select: none;
  width: 120px;
}
