@import '../../../../shared-styles/variables';

.teamSelector {
  font-size: 1.2rem;
  border-bottom: 1px solid $grey;
  padding-bottom: 0.6rem;
  margin-bottom: 0.8rem;
  margin-left: 0.8rem;

  span {
    margin-right: 3rem;
  }
}

.selected {
  color: $veryyellow;
}

.notSelected {
  color: $slategrey;
}
