.radio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.radio-field-label {
  color: rgba(255, 255, 255, 0.3);
  display: inline-block;
  font-size: 0.7em;
  margin: 12px 0;
}

.radio-container {
  flex: 0 0 100px;
  margin-top: 10px;
}

.radio-dot {
  display: none;

  &:checked ~ .radio-label {
    color: #fbfe34;
    border-color: #fbfe34;
  }
}

.radio-label {
  border: 2px solid gray;
  border-radius: 2px;
  color: gray;
  cursor: pointer;
  display: block;
  font-weight: 500;
  line-height: 16px;
  padding: 12px;
  text-align: center;
  user-select: none;
}
