.agenda {
  font-weight: inherit;
  overflow-x: hidden;
  white-space: nowrap;
}

.loading {
  color: white;
  border: 10px solid pink;
  padding: 3rem;
}

.column {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.column:first-of-type {
  padding: 35px 0 0 35px;
}

.column:last-of-type {
  width: 80%;
  max-width: 970px;
  overflow-x: scroll;
  overflow-y: hidden;
}
