@import '../../../shared-styles/bookit';

.tooltip {
  width: 270px;
  margin-top: $agenda-row-height;
  opacity: 0;
  position: absolute;
  z-index: 10001;
  transition: opacity .6s;
}

.anchorContainer {
  display: block;
  height: 10px;
  margin: 6px auto 0;
  position: relative;
  width: 102px;
  background-color: transparent;
}

.anchor {
  background-color: transparent;
  border-color: transparent transparent $slategrey transparent;
  border-style: solid;
  border-width: 0 10px 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  position: absolute;
  width: 0;
}

.content {
  background-color: $slategrey;
  color: white;
  padding: 15px;

  p {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    > strong {
      display: block;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 4px;
      text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    }
  }
}
