:global(.fade-appear),
:global(.fade-enter) {
  opacity: 0;
}

:global(.fade-appear-active),
:global(.fade-enter-active) {
  transition: opacity 1.0s linear;
  opacity: 1;
}

:global(.fade-exit) {
  transition: opacity .2s linear;
  opacity: 1;
}

:global(.fade-exit-active) {
  opacity: 0;
}
