@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/HelveticaNeueLTStd-Md.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/HelveticaNeueLTStd-MdIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/HelveticaNeueLTStd-Lt.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/HelveticaNeueLTStd-It.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/HelveticaNeueLTStd-Bd.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/HelveticaNeueLTStd-BdIt.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/HelveticaNeueLTStd-Hv.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/HelveticaNeueLTStd-HvIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
