$base-font-family: HelveticaNeue, Roboto, Helvetica, sans-serif;
$base-font-size: 18px;

$content-width: 500px;
$padding: 15px;

$blackish: #141516;
$blackish-translucent: rgba(20, 21, 22, 0.4);
$darkblue: #2b3947;
$veryyellow: #fbfe34;
$slategrey: #959ca3;
$darkergrey: #696969;
$grey: #d0d0d0;

$dividerColor: #1d2a36;
$dividerColorAfterHours: rgba(31, 39, 46, 0.43);

$agenda-row-height: 30px;
$agenda-hour-width: 82px;
$agenda-room-total-width: $agenda-hour-width * 24;
