@import '../../../shared-styles/bookit';

.invite {
  color: white;
  font-family: $base-font-family;
  font-weight: 300;
  font-size: 24px;
}

.section {
  color: white;
  font-size: 16px;
  margin-top: 30px;
  font-weight: 200;
}

.form {
  width: 300px;
  float: left;
  margin-top: 2rem;
}

.cancel {
  margin-left: 332px;
  cursor: pointer;
}
