@import '../../../shared-styles/bookit';

.invite {
  color: white;
  font-family: $base-font-family;
  font-weight: 300;
  font-size: 24px;
}

.form {
  width: 300px;
  float: left;
}

.cancel {
  margin-left: 332px;
}
