@import '../../../shared-styles/bookit';

.room {
  background-color: $darkblue;
  height: $agenda-row-height;
  margin-bottom: 50px;
  padding-left: 122px;
  position: relative;
  width: $agenda-room-total-width;
}

.roomName {
  background-color: $darkblue;
  color: white;
  display: block;
  font-family: $base-font-family;
  font-weight: 300;
  font-size: $base-font-size;
  font-style: normal;
  line-height: $agenda-row-height;
  position: fixed;
  top: 100;
  user-select: none;
  width: 120px;
  left: 380px;
}

.timeline {
  display: inline-block;
  float: left;
  height: $agenda-row-height;
  background:
    repeating-linear-gradient(
      to right,
      $blackish,
      $blackish 79px,
      $darkblue 79px,
      $darkblue 82px
    );
  position: relative;
  width: $agenda-room-total-width;
}

.meetings {
  position: absolute;
  height: $agenda-row-height;
  left: 0;
  right: 0;
  top: 0;
}
