@import '../../../shared-styles/bookit';

.room {
  background-color: $darkblue;
  height: $agenda-row-height;
  margin-bottom: 50px;
  position: relative;
  width: $agenda-room-total-width;
}

.timeline {
  display: inline-block;
  height: $agenda-row-height;
  background:
    repeating-linear-gradient(
      to right,
      $blackish,
      $blackish 79px,
      $darkblue 79px,
      $darkblue 82px
    );
  position: relative;
  width: $agenda-room-total-width;
}

.meetings {
  position: absolute;
  height: $agenda-row-height;
  left: 0;
  right: 0;
  top: 0;
}
