@import '../../../shared-styles/bookit';

.editor {
  width: 300px;
  float: left;
}

.room {
  color: white;
  font-family: $base-font-family;
  font-weight: 300;
  font-size: 24px;
}

.cancel {
  margin-left: 332px;
}

.buttons {
  display: flex;
  margin-top: 20px;

  & > * {
    margin: 0 10px;
  }
}
