@import '../../../shared-styles/bookit';

.room {
  background-color: $darkblue;
  height: $agenda-row-height;
  margin-bottom: 50px;
  padding-left: 122px;
  position: relative;
  width: 1968px;
}

.roomName {
  background-color: $darkblue;
  color: white;
  display: block;
  font-family: $base-font-family;
  font-weight: 300;
  font-size: $base-font-size;
  font-style: normal;
  left: 0;
  line-height: $agenda-row-height;
  position: absolute;
  text-align: center;
  top: 0;
  user-select: none;
  width: 120px;
}
