@import '../../shared-styles/bookit';

.app {
  background-color: $darkblue;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.leftPane {
  width: 350px;
  height: 100vh;
  float: left;
  background: #141516;
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  height: 50px;
  color: white;
  font-weight: 100;
}

.hello {
  color: #faff29; // TODO: Replace with variable
  font-weight: 600;
  margin-right: 5pt;
}

.divider {
  margin: 0 0.5rem;
}

.logout {
  color: white;
  cursor: pointer;

  &:hover {
    color: #faff29; // TODO: Replace with variable
  }
}
