@import '../../shared-styles/bookit';

.app {
  background-color: $darkblue;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.leftPane {
  width: 325px;
  height: 100vh;
  float: left;
  background: $blackish;
  display: flex;
  flex-direction: column;
  padding: 70px 30px 30px 20px;
}

.user {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  height: 50px;
  color: white;
  font-weight: 100;
}

.hello {
  color: $veryyellow;
  font-weight: 600;
  margin-right: 5pt;
}

.name {
  margin-right: 1rem;
  text-transform: capitalize;
}

.logout {
  color: $slategrey;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    color: $veryyellow;
  }
}
