@import '../../shared-styles/bookit';

.room {
  color: white;
  font-family: $base-font-family;
  font-weight: 300;
  font-size: 24px;
}

.buttons {
  display: flex;

  & > * {
    margin-left: 10px;
  }
}
