@import '../../../shared-styles/variables';

.button {
  border-color: $veryyellow;
  border-radius: 2px;
  border-style: solid;
  margin: 4rem 0;
  background-color: $blackish;
  color: $veryyellow;
  display: block;
  width: 100%;
  padding: 12px;
  font-weight: 600;
}
