@import '../../../shared-styles/bookit';

.header {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  height: 50px;
  color: white;
  font-weight: 100;
}

.hello {
  color: $veryyellow;
  font-weight: 400;
  margin-right: 5pt;
}

.name {
  margin-right: 1rem;
  text-transform: capitalize;
}

.link {
  color: $slategrey;
  cursor: pointer;
  font-weight: 400;
  margin-right: 1rem;
  text-decoration: none;

  &:hover {
    color: $veryyellow;
  }
}
