<!DOCTYPE html>
<html>
  <head>
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <meta charSet='utf-8' />
    <meta httpEquiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="shortcut icon" href="/kyt-favicon.png" sizes="16x16 32x32" type="image/png" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <title>Bookit</title>
  </head>
  <style type = "text/css">
/* NOTE: These are overrides for the React-Kronos datepicker calendar and timepicker dropdown
  Other styles are also being applied to the DateTimePicker in DateTimePicker/index.js */
/* WARNING(?): If we ever move away from the "styles.<name>" pattern in the rest of our CSS, it might cause
    collisions with these changes. */

/* REACT-KRONOS DATETIMEPICKER OVERRIDES */
    /*dropdown list (time picker) */
    .grid {
      width: 231px !important;
    }
    /*month name */
    .title {
      font-weight: 400 !important;
      color: white !important;
      font-size: 14px !important;
    }
    .title:hover {
      border: 1px solid #2b3947 !important;
    }
    /*month rockers*/
    .arrow {
      color: #fbfe34 !important;
    }
    .arrow:hover {
      border: 1px solid #2b3947 !important;
    }
    /*day names (M T W Th... etc)*/
    .header {
      color: #d0d0d0 !important;
      font-weight: 400 !important;
    }
    /*hours in time picker dropdown list*/
    .hours {
      font-size: 12px !important;
      font-weight: 100 !important;
    }
    /*dates in calendar*/
    .days {
      font-weight: 100 !important;
      font-size: 12px !important;
    }
    /*selected date on calendar*/
    .selected {
      background-color: #141516 !important;
      border: 1px solid #141516 !important;
    }
    /*base class for dates in calendar*/
    .base {
      color: white !important;
    }
    /*dates outside bookable range*/
    .outside-range {
      color: #696969 !important;
    }
    .outside-range:hover {
      background-color: #2b3947 !important;
    }
    /*dates in the past*/
    .past {
      color: #d0d0d0 !important;
    }
  </style>
  <body>
    <div id="root"></div>

    <script src="/config.js"></script>
  </body>
</html>
