<!DOCTYPE html>
<html>
  <head>
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <meta charSet='utf-8' />
    <meta httpEquiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="favicon" rel="shortcut icon" href="/kyt-favicon.png" sizes="16x16 32x32" type="image/png" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <title>Bookit</title>
  </head>
  <style type = "text/css">
    .grid {
      width: 231px !important;
    }
    .title {
      font-weight: 400 !important;
      color: white !important;
      font-size: 14px !important;
    }
    .title:hover {
      border: 1px solid #2b3947 !important;
    }
    .arrow {
      color: #fbfe34 !important;
    }
    .header {
      color: #d0d0d0 !important;
      font-weight: 400 !important;
    }
    .cell {
      width: 36px !important;
    }
    .cell:hover {
      background-color: yellow !important;
    }
    .hours {
      font-size: 12px !important;
      font-weight: 100 !important;
    }
    .days {
      font-weight: 100 !important;
      font-size: 12px !important;
    }
    .selected {
      background-color: #141516 !important;
      border: 1px solid #141516 !important;
    }
    .arrow:hover {
      border: 1px solid #2b3947 !important;
    }
    .base {
      color: white !important;
    }
    .outside-range {
      color: #696969 !important;
    }
    .outside-range:hover {
      background-color: #2b3947 !important;
    }
    .past {
      color: #d0d0d0 !important;
    }
  </style>
  <body>
    <div id="root"></div>

    <script src="/config.js"></script>
  </body>
</html>
