@import '../../../shared-styles/bookit';

.timeblock {
  background-color: $blackish;
  display: inline-block;
  width: 80px;
  height: 30px;
  margin-right: 2px;

  &:last-child {
    margin-right: 0;
  }
}
