@import '../../../shared-styles/bookit';

.meeting {
  height: $agenda-row-height;
  background:
    repeating-linear-gradient(
      45deg,
      $blackish,
      $blackish 4px,
      $darkblue 4px,
      $darkblue 8px
    );
  border-right: solid 3px $darkblue;
  position: absolute;
  top: 0;
  width: 80px;

  i: {
    display: none;
  }

  &.isOwnedByUser {
    background:
      repeating-linear-gradient(
        45deg,
        $blackish,
        $blackish 6px,
        $darkblue 6px,
        $darkblue 8px
      );

    i {
      display: inline-block;
      position: relative;
      left: 50%;
      margin-left: -10px;
      top: 5px;
      text-align: center;
      background: $veryyellow;
      border-radius: 50%;
      width: 20px;
      height: 20px;
    }
  }
}
